html, body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    font-style: normal;
    background-color: #71266E; 

}

body{
    width: auto;
    background-color: red;
    
}

header{
    margin: 0 auto;
    width: 100%;
    background-color: chartreuse;
    text-align: center;
    
}

#nav_under_logo{    
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background: #006699;
    
}

li{
    text-align: center;
    float:left;
    margin: 0.8rem;
    padding: 0;
    height: calc(100%)7;
    width: 15rem;
    border-collapse: collapse;
}

a{
    margin: 0 auto;
    padding: 0;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    
}

section{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    font-size: 22px;
  
}

p{
    width: 35%;
    float: left;
    text-align: center;
    
}

aside{
    display: block;
    width: 100%;
     
}

#teacher_pic{
    border-collapse: separate;
    margin: 0 auto;
    padding: 0;
    float: left;
    width: 270px;
    height: 270px;
    
}

div{
    margin: 0 auto;
    padding: 0;
    width: 270px;
    height: 270px;
    display: block;
    float: left;
    
}

#funding{
    border-collapse: separate;
    margin: 0 auto;
    padding: 0;
    float: left;
  
}

#teacher{
    border-collapse: separate;
    margin: 0 auto;
    padding: 0;
    float: left;
    
}

#school{
    border-collapse: separate;
    margin: 0 auto;
    padding: 0;
    float: left;
    
}

#donate{
    border-collapse: separate;
    margin: 0 auto;
    padding: 0;
    float: left;
    
}